/* .topnav{
  color: black;
  background-color: white;
  width: auto;
  display: flex;
}
.menu {
  display: flex;
  margin: 0 50px;
  padding: 0;
  font-family: sans-serif;  
  color:white
}
.menu li {
  list-style: none; 
  font-size: 12px; 
}
.menu li a {
  padding: 1em;  
  display: block;
  color: black;
  text-decoration: none;  
}
.menu li a:hover {
  color: #336699;
}

.mega-menu {
  display: flex;    
  justify-content: space-between;
  position: absolute;
  left: 30px;
  width: auto;
  background: #eee; 
  opacity: 0;  
  visibility: hidden;  
}
.menu li:hover > .mega-menu {
  opacity: 1;
  overflow: visible;
  visibility: visible;
}

.col-width{
  width: 200px;
}

.mega-menu .col-width {
  padding: 1em;
}
.mega-menu .col-width ul {
  margin: 0;
  padding: 0;
}
.mega-menu .col-width li {
 margin-bottom: 0.75em;
}
.mega-menu .col-width h4 {
  text-transform: uppercase; 
  margin: 0 0 1em 0;
}
.mega-menu .col-width a {
  padding: 0;
}
.mega-menu .col-width img {
  display: block;
}
.mega-menu .col-width p {
  margin-bottom: 0;
}
.mega-menu .col-width strong {
  text-transform: uppercase; 
} */